@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 245, 233, 220; /* Creamy Latte */
  --bg-main: #3b2b2a;              /* Coffee Bean */
  --accent: #d3a87c;               /* Latte Accent */
  --border-coffee: #a9745b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 245, 230; /* Slightly warmer for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-main);
  font-family: 'Inter', sans-serif;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  top: calc(var(--index) * 4rem);
}
